<div class="p-comment__item">
  <div class="p-comment__bottomLine">
    <p class="portfolio__user__link">
      <%= link_to comment.user do %>
        <%= image_tag comment.user.icon_img.thumb.url %>
        <%= comment.user.name %>
      <% end %>
      </p>
      <p><%= simple_format(comment.comment,class:"comment") %></p>
    <span><%= comment.created_at.to_s(:datetime_jp) %></span>
    <% if current_user?(comment.user)%>
      <span class="delete_link"><%= link_to '削除', comment, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></span>
    <% end %>
  </div>
</div>
