<div class="jumbotron">
  <div class="jumbo__back"></div>
  <div class="container">
    <h1>Welcome to  PorPos!</h1>
    <% if logged_in? %>
      <p>ポートフォリオ投稿サイト</p>
      <%= link_to "PorPos!", portfolios_new_path %>
    <% else %>
      <p>会員登録,ログインすることで投稿を行うことができます。</p>
      <%= link_to "新規登録", signup_path %>
      <%= link_to "ログイン", login_path %>
    <% end %>
  </div>
</div>
<div class="index__content">
  <div class="container arrival">
    <h1>新着</h1>
    <div class="flex">
      <%= render partial: "/shared/portfolio_card", locals: {content: @arrivals} %>
    </div>
  </div>
  <div class="container popular">
    <h1>人気</h1>
    <div class="flex">
      <%= render partial: "/shared/portfolio_card", locals: {content: @arrivals} %>
    </div>
  </div>
  <div class="container all_portfolio">
    <h1>全投稿</h1>
    <div class="flex">
      <%= render partial: "/shared/portfolio_card", locals: {content: @portfolios} %>
    </div>
  </div>
</div>
