<% provide(:title, @portfolio.title) %>
<div class="container portfolio__show">
  <div class="flex">
    <div class="portfolio_left_content">
      <%= link_to @portfolio.URL do %>
        <%= image_tag @portfolio.catcheye_img.url %>
      <% end %>
    </div>
    <div class="portfolio_right_content">
      <table>
        <tr>
          <td>タイトル</td>
          <td>
            <% unless @portfolio.URL.blank? %>
              <%= link_to @portfolio.title, @portfolio.URL %>
            <% else %>
               <%= @portfolio.title %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>投稿者</td>
          <td><%= link_to @portfolio.user.name, @portfolio.user %></td>
        </tr>
        <tr>
          <td>URL</td>
          <td>
            <% unless @portfolio.URL.blank? %>
              <%= link_to @portfolio.URL, @portfolio.URL %>
            <% else %>
               未登録
            <% end %>
          </td>
        </tr>
        <tr>
          <td>github_URL</td>
          <td>
            <% unless @portfolio.git_URL.blank? %>
              <%= link_to @portfolio.git_URL, @portfolio.git_URL %>
            <% else %>
               未登録
            <% end %>
          </td>
        </tr>
      </table>
      <h3>詳細</h3>
      <%= simple_format(@portfolio.description) %>
    </div>
  </div>
</div>
