<% if !current_user?(@portfolio.user) %>
    <td>
      <span>
        <% if portfolio.iine?(current_user) %>
          <%= form_for(portfolio.likes.find_by(user_id: current_user.id), html: {id: 'like-button'}, method: :delete, remote: true) do |f| %>
          <%= button_tag(class: "btn btn-default btn-xs") do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% end %>
        <% else %>
          <%= form_for(portfolio.likes.build, remote: true) do |f| %>
            <div><%= hidden_field_tag :portfolio_id, portfolio.id %></div>
            <%= button_tag(class: "btn btn-default btn-xs") do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
      </span>
    </td>
    <td>
      <%= portfolio.likes_count %>
    </td>
<% end %>