<% provide(:title, @user.name) %>
<div class="container">
  <div class="myprofile_content">
    <div class="icon__img">
    </div>
      <h1><%= @user.name %></h1>
      <% if @user.id == current_user.id || current_user.admin?%>
        <h3><%= @user.email %></h3>
      <% end %>
    </div>
  </div>
</div>
<div class="my_portfolio_content">
  <h1>投稿した作品</h1>
  <div class="container flexx">
    <% @portfolios.each do |portfolio| %>
      <div class="my_portfolio_card">
        <%= link_to "", portfolio %>
        <h2><%= portfolio.title %></h2>
        <%= image_tag portfolio.catcheye_img.url %>
        <p>
          <i class="fas fa-heart"></i>100
          <i class="fas fa-eye"></i>100
        </p>
      </div>
    <% end %>
  </div>
</div>
