<% content.each do |portfolio| %>
  <div class="portfolio_content">
    <div class="portfolio_card">
      <%= link_to "", portfolio ,class: "portfolio_link" %>
      <%= image_tag portfolio.catcheye_img.url %>
      <figcaption>
        <h3><%= portfolio.title %></h3>
        <%= simple_format(portfolio.description, class: 'caption') %>
        <p class="like_view_icon">
          <i class="fas fa-heart"><%= portfolio.likes_count %></i>
          <i class="fas fa-eye">100</i>
        </p>
      </figcaption>
    </div>
    <% unless @path.is('users#show') %>
      <p class="portfolio__user__link">
        <%= link_to portfolio.user do %>
          <%= image_tag portfolio.user.icon_img.url %>
          <%= portfolio.user.name %>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>
