<div class="container" id="form">
  <div class="form__header">
  <ul>
    <li><%= link_to "会員登録", signup_path %></li>
    <li><%= link_to "ログイン", login_path, class: 'active_page' %></li>
  </ul>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email", placeholder: "e-mail" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %><%= link_to "（パスワードを忘れた方）", new_password_path(resource_name) %>
      <%= f.password_field :password, class: 'form-control', autocomplete: "off", placeholder: "password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_mei, "ログイン状態の保持" %>

      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "ログイン", class: 'form_btn' %>
    </div>
  <% end %>

</div>
