<footer class="pc__footer">
  <div class="container">
    <p class="text-muted">
    <ul>
      <li><%= link_to "利用規約", rules_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_path %></li>
      <li><%= link_to "お問い合わせ", "https://goo.gl/forms/GfkzziBZRiVmmphh1" %></li>
    </ul>
    </p>
    <span>@PorPos! 2018</span>
  </div>
</footer>

<footer class="device__footer">
    <p class="text-muted">
    <ul class="footer__menu">
      <li class="footer__menu__icon">
        <%= link_to porpos_path do %>
          <i class="fas fa-home fa-5x"></i>
        <% end %>
      </li>
      <li class="footer__menu__icon">
        <%= link_to portfolios_new_path do %>
          <i class="far fa-calendar-plus fa-5x"></i>
      <% end %>
      </li>
      <li class="dropup footer__menu__icon">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-address-card fa-5x"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <% if logged_in? %>
            <% if current_user.admin? %>
              <li><%= link_to "全投稿", portfolios_index_path %></li>
              <li><%= link_to "全ユーザー", users_index_path %></li>
            <% end %>
            <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
            <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
            <li class="portfolio__user__link">
              <%= link_to current_user do %>
                <%= image_tag current_user.icon_img.url %>
                <%= current_user.name %>
              <% end %>
            </li>
          <% else %>
            <li><%= link_to "新規登録", signup_path %></li>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    </p>
</footer>
