<header class ="navbar navbar-fixed-top navbar-inverse">
  <div class= "container">
    <%= link_to "PorPos!", porpos_path, id: "logo" %>
    <nav>
      <ul class= "nav navbar-nav navbar-right wf-Kokoro">
        <% if logged_in? %>
          <li><%= link_to "マイページ", current_user %></li>
          <li><%= link_to "投稿する", '#' %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "新規登録", signup_path %></li>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
