<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Patua+One|Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
    <script type="text/javascript">
      jQuery(function($) {
        $('.bg-slider').bgSwitcher({
            images: ['<%= asset_path 'home1.jpg' %>', '<%= asset_path 'home2.jpg' %>', '<%= asset_path 'home3.jpg' %>',
                     '<%= asset_path 'home5.jpg' %>'],
            interval: 5000,
            shuffle: true,
            effect: "fade"
        });
      });
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
    <script type="text/javascript">
      $('#portfolio_catcheye_img').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
          alert('ファイルサイスが 5MBを超えています');
        }
      });
    </script>
    <!-- <% if @path.is('top_pages#home') %>
      <meta http-equiv="refresh" content="3;URL=http://192.168.99.100:3000/porpos">
    <% end %> -->
  </head>

  <body>
    <%= render 'header' %>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
    <%= render 'footer' %>
  </body>
</html>
